NEXT_PUBLIC_SUPABASE_URL=https://hqtymdovqxtazvmoguay.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhxdHltZG92cXh0YXp2bW9ndWF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNjYyMzQsImV4cCI6MjA5Njk0MjIzNH0.cU_ARDZWYTL6IvTPy0k_nDD05fb4cUqVzl6SFXMbPdA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhxdHltZG92cXh0YXp2bW9ndWF5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTM2NjIzNCwiZXhwIjoyMDk2OTQyMjM0fQ.5pg4zIXFyJER80wG1GJJ_1_Vyc3A9WP9CoDSopM18E4
TELEGRAM_BOT_TOKEN=8837330991:AAHGBU5EVtGD6T4HayofvrTxb3x4NYUP-ME
TELEGRAM_CHAT_ID=-1004460639452
TELEGRAM_WEBHOOK_SECRET=
